/* *{
    border: 1px solid red;
}
 */
body{
    background-color: #f3e1e3;
    
}
.container{
    width: 600px;
    display: inline-flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.leftblock{
    padding-top: 30px;
    background-color: #fff;
    text-align: center;
    height: 370px;
    width: 300px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-box-shadow: -5px 10px 21px 0px rgba(0,0,0,0.42);
-moz-box-shadow: -5px 10px 21px 0px rgba(0,0,0,0.42);
box-shadow: -5px 10px 21px 0px rgba(0,0,0,0.42);
}
.social-auth i{
    border: 1px solid gray;
    width: 40px;
    height: 30px;
   padding-top: 10px;
    border-radius: 30px;
   margin-right: 10px;
   margin-bottom: 10px;
}
input[type="email"]{
    margin-top: 10px;
}
input{
height: 30px;
background-color: #efefef;margin-bottom: 10px;
border: 1px solid gray;
}
a{
    text-decoration: none;
    color: #3e3543;
    margin-top: 10px;
}
input[type="submit"]{
    background-color: #ff4c2b;
    border-radius: 10px;
    width: 120px;
    margin-top: 10px;
    border: hidden;
}

.rightblock{
    padding-top: 50px;
    background: rgb(254,71,75);
    background: linear-gradient(98deg, rgba(254,71,75,1) 0%, rgba(255,66,107,1) 100%);
    color: white;
    text-align: center;
    height: 350px;
    width: 300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 5px 10px 21px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 5px 10px 21px 0px rgba(0,0,0,0.42);
    box-shadow: 5px 10px 21px 0px rgba(0,0,0,0.42);
}
h1{
    font-size: 35px;
    font-weight: bolder;
}
.rightblock p{
    width: 250px;
    margin: 0 auto;
    font-weight: bold;
}